/* General styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden; /* Evita desplazamientos en el contenedor general */
}

h1 {
    text-align: center;
    margin: 0;
    padding: 1rem;
    background-color: #84ff00;
    color: white;
}

.sidebar {
    width: 25%;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh; /* Altura completa de la barra lateral */
    overflow: hidden; /* Control de scroll solo en la lista */
}

.sidebar h2 {
    padding: 1rem;
    background-color: #e9ecef;
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #495057;
}

/* Estilo para el índice con scroll */
.toc {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    overflow-y: auto; /* Habilitar desplazamiento vertical para la lista */
    height: calc(100vh - 140px); /* Altura dinámica para incluir encabezados */
}

.toc li {
    margin-bottom: 0.5rem;
}

.toc li a {
    text-decoration: none;
    color: #007BFF;
    padding: 0.5rem;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.toc li a:hover {
    background-color: #e9ecef;
}

.content {
    width: 75%;
    padding: 2rem;
    overflow-y: auto; /* Permitir scroll en la sección principal si el contenido es extenso */
    background-color: #ffffff;
}

pre {
    font-family: 'Courier New', monospace;
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    overflow-x: auto; /* Permitir desplazamiento horizontal para el contenido de código */
    white-space: pre-wrap; /* Ajustar contenido para no exceder el contenedor */
}

.loading {
    color: #6c757d;
    font-size: 1.1rem;
    text-align: center;
}

.error {
    color: red;
    font-size: 1.1rem;
    text-align: center;
}

/* Animación de deslizamiento */
.nested {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.nested.open {
    max-height: 500px;
    /* Lo suficientemente grande para contener el contenido */
    transition: max-height 0.3s ease-in;
}

.folder {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.folder::before {
    content: '📁';
    margin-right: 5px;
}

.folder.open::before {
    content: '📂';
    /* Cambia el icono al abrir */
}
